*{
padding:0px;
margin:0px;
font-family:inter;

}
.heading-para{
    display: inline-block;
    color: #223354;
    opacity: 0.5;
    font-family: inter;
    font-size: 56px;
    font-weight:400;
    padding-top: 48px;
    margin-left: 48px;
}
.heading{
    color: #223354;
    font-family: inter;
    font-size: 56px;
    font-weight: 500;
    display: inline;
    margin-left:30px;
}
.container{
    display:flex;
   
}
.div1{
    height:fit-content;
    width:70%;
    display:flex;
    flex-direction: column;
}
.Selectors{
    display:flex;
    
}
.drop-down{
flex-direction:row
}
.drop-down-heading{
    color: #BDBDBD;
    margin-top: 80px;
    margin-left: 48px;
    font-size:16px;
    font-weight:600;
}
.option{
    margin-top: 7px;
    margin-left: 48px;
    margin-bottom: 50px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 50px;
    padding-right: 200px;
    color: #4F4F4F;
    font-size: 16px;  
}
.option-head{
    font-size:16px;
    font-weight:600;
}
.options-drop :hover{
    background-color:#223354;
    color:#FFFFFF;
}
.option1{
    margin-top: 15px;
    margin-left: 48px;
    margin-bottom: 20px;
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 50px;
    padding-right: 200px;
    color: #4F4F4F;
    font-size: 16px;
    display:block;
}
.option-boxs{
    width: 360px;
height: 165px;
margin-top: 6px;
margin-left: 48px;
gap: 0px;
border:1px solid #BDBDBD;
border-radius:4px;

}
.para{
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 50px;
    padding-right: 100px;
    color: #4F4F4F;
    font-size: 16px;
    font-weight:400;
}
.para1{
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 50px;
    padding-right: 100px;
    color: #FFFFFF;
    background-color: #223354;
    font-size: 16px;
    font-weight:400;
}
.button-container{
    display:flex;
    flex-direction:column;
    margin-left:50px;
}
.button{
    margin-top: 80px;
    margin-left: 28px;
    display:flex;
    
}


.check-box1{
    color: #BDBDBD;
    font-size:16px;
    font-weight:500;
    margin-bottom:20px;

}
.check-box-para-1{
    display:inline-block;
    padding:3px;
    color:#223354;
    font-size:16px;
    font-weight:400;

}
.check-box-para-2{
    display:inline-block;
    padding:3px;
    color:#4F4F4F;
    font-size:16px;
    font-weight:400;


}
.check-box-para-3{
    display:inline-block;
    padding:3px;
    color:#BDBDBD;
    font-size:16px;
    font-weight:400;


}
.check-box-button{
    height:24px;
    width:24px;
    margin-top:5px;
    margin-right:5px;
   appearance:none;
   border: 2px solid #BDBDBD;
   border-radius: 4px; 
   position: relative;
}
.check-box-button:checked{
    background-color:#223354;
}
.check-box-button:checked::after{
    content: "";
    position: absolute;
    top: 2px; 
    left: 5px; 
    width: 5px; 
    height: 10px; 
    border: solid white;
    border-width: 0 2px 2px 0; 
   transform: rotate(45deg);
}

.radio-buttton{
flex-direction:row;
margin-left:100px;
}
.radiobutton{
    color: #BDBDBD;
    font-size:16px;
    font-weight:500;
    margin-bottom:20px;
}
.Radio-button{
    height:24px;
    width:24px;
    margin-top:5px;
    margin-right:5px;
    appearance: none; 
    border-radius: 50%; 
    outline: none; 
    position: relative;
    border: 2px solid #BDBDBD;
}
.Radio-button:checked{
background-color:white ;
border: 2px solid #223354;
}

.Radio-button:checked::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px; 
    height: 10px;
    border-radius: 50%; 
    background-color:#223354 ;
   
}

.radio-para-1{
    display:inline-block;
    padding:3px;
    color:#223354;
    font-size:16px;
    font-weight:400px;
}
.radio-para-2{
    display:inline-block;
    padding:3px;
    color:#4F4F4F;
    font-size:16px;
    font-weight:400px;

}
.radio-para-3{
    display:inline-block;
    padding:3px;
    color:#BDBDBD;
    font-size:16px;
    font-weight:400px;

}
.Large-selector{
    flex-direction:column;
    margin-left:28px;
    margin-top:90px;

}
.large-scale-selector{
    margin-bottom:30px;
    color:#828282;
    font-size: 16px;
    font-weight:600;
}
.with-color{
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 130px;
    padding-right: 130px;
   background-color: #223354;
    font-size: 16px;
    font-weight:400;
    border-radius:6px;
    color:#FFFFFF

}
.with-out-color{
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    padding-left: 130px;
    padding-right: 130px;
    color:#BDBDBD;
    font-size: 16px;
    font-weight:400;
    margin-top:30px;
    border-radius:6px;
    background-color: #FFFFFF;
}
.end-div{
    display:flex;
    flex-direction:row;
    margin-top:100px;
    margin-bottom:50px;
}
.pagination{
    margin-left:48px;
}

.header{
    color:#828282;
    display:block;
    margin-bottom:20px;
    font-size:16px;
    font-weight:500;
    
    
}
.pagi{
    display:flex;
}
.with{
width:48px;
height:48px;
background-color:#223354;
flex-direction:row;
border-radius:4px;
margin-left:10px;
color:#FFFFFF;
}
.without{
    
        width:48px;
        height:48px;
        color:#828282;
        border-radius:4px;
        margin-left:10px;  
        flex-direction:row; 
        border:1px solid;
       
}
.paggi-p{
font-size:14px;
font-weight:700;
margin-top:14px;
margin-left:20px;
}
.Breadcrumbs{
 margin-left:100px;
}
.para-home{
   color:#828282;
   display:inline-block;
   font-size:16px;
   font-weight:500;
}
.para-home1{
color:#223354;
display:inline-block;
font-weight:500;
font-size:16px;


}
.tabs{
    margin-left:100px;
}
    .para-tabs{
        color:#828282;
        display:inline-block;
        margin-left:10px;
        font-size:16px;
        font-weight:500;
    }
    .para-tabs1{
        color:#223354;
        display:inline-block;
        font-size:16px;
        font-weight:500;
    }
    .color{
       display:flex; 
    }
.c1{
width:70px;
height:4px;
background-color:#223354;
}
.c2{
    width:70px;
    height:4px;
    background-color:#BDBDBD;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 30px;
      }
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left:0;
        right:0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #223354
        ;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      
      .Toggle-heading{
           color:#828282;
           font-size:16px;
           font-weight:500;
           margin-top:80px;
           margin-bottom:15px;
      }
      .togglle-para{
        font-size:16px;
        font-weight:400;
        margin-left:5px;
      }
      .colo{
        color:#223354;
        display:inline-block;
        margin-left:60px;
        
      }
      .swit1{
display:flex;
padding:10px;
      }
      .p{
        display:flex;
        flex-direction:row;
        color:#223354;
        margin-left:10px;
      }
      .calender{
       margin-top:100px;
       margin-bottom:50px;
      }
      .datepicker{
        color:#828282;
        font-size:16px;
        font-weight:600;
      }
      .month{
        color:#223354;
        margin-top:35px;
        font-size:16px;
        font-weight:600;
        
      }
    .f-arrow{
        margin-left:110px; 
      }
      .s-arrow{
        margin-left:10px; 

      }
     .calender-table{
      margin-top:30px;
     }
     .calender-table td{
      
      color:#4F4F4F;
      padding:10px;
      font-size:16px;
      font-weight:600;
     }
      .tr2 .td{
        color:#BDBDBD;
     }

     .tr-3 .td-9{
      background-color:#223354;
      color:#FFFFFF;
      border-radius:50%;
      padding-left:15px;

     }
     .tr-3 .td-8{
        color:#BDBDBD;
     }
     .tr1 td{
        color:#223354;
     } 
